* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

.container {
  width: 1000px;

  margin: 0 auto;
}

.navbar {
  height: 60px;

  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 0.5px solid rgba(0, 0, 0, 0.4);
  border-top: 0;
}

.logo {
  font-size: 25px;
}

.search-input {
  font-size: 20px;

  padding: 5px;
}

.search-btn {
  font-size: 20px;

  padding: 5px 10px;
}

.main-container {
  display: flex;
  gap: 10px;

  margin-top: 10px;
}

.advance-game-search {
  width: 25%;

  padding: 20px;

  border: 0.5px solid rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.line {
  width: 100%;
  height: 0.2px;

  margin: 2px 0;

  background-color: rgba(0, 0, 0, 0.2);
}

.flex {
  display: flex;
  gap: 5px;
}

main {
  width: 740px;

  display: flex;
  flex-flow: wrap;
  gap: 10px;

  align-content: flex-start;
}

.game-container {
  width: 240px;

  overflow: hidden;

  border: 0.5px solid rgba(0, 0, 0, 0.4);
}

.game-info {
  width: 240px;

  padding: 10px;
}

.game-title {
  font-size: 25px;
  font-weight: bold;
}

.game-desc {
  color: #333;
  font-size: 15px;

  margin-top: 5px;
}

.buble {
  font-size: 12.5px;

  margin-top: 20px;
  padding: 5px;

  background-color: rgba(51, 51, 51, 0.1);

  border: 1px solid #000;
  border-radius: 100px;
}
